/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei";
  background-color:#fff;
  font-size:18px;
  color:#000;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
.header{
	margin:20px 0;
	text-align:center;
}
.nav {
  width: 360px;
  height: 60px;
  margin: 0 auto;
}
.nav li {
  float: left;
  width: 80px;
  line-height: 60px;
  text-align: center;
  margin:0 50px;
  border-bottom: 1px solid #000;
}
.nav li a {
  color: #000;
}
.content{
  margin: 40px 0 50px 0;	
  line-height: 40px;
}
.content p {
  line-height:50px;
  text-align:center;
}
.list{
  margin-top:50px;
}
.list li{
  float:left;
  width:235px;
  margin-right:20px;
  padding-bottom:20px;
}
.list li img{
  width:235px;
}
.list li:nth-child(4n) {
  margin-right:0;
}